<h1> Welcome to Catfacts! </h1>
<% @users.each do |user| %>
  <%= user['name'] %> - <%= user['email'] %><br>
  <button class='send' data-id='<%= user['id'] %>'>
    Send <%= user['name'] %> a Catfact!
  </button>
  <%= link_to 'x', user, method: :delete %><br><br>
<% end %>
<br><br>
<%= form_for :user, method: 'post', url: {action: "create"} do |f| %>
  <%= label(:user, :name) %>
  <%= f.text_field :name %><br>
  <%= label(:user, :email) %>
  <%= f.text_field :email %>
  <br><br>
  <%= f.submit "Add User" %>
<% end %>

